build_and_push_docker:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_IMAGE: ${CI_REGISTRY_IMAGE:-${CI_PROJECT_PATH}}:${CI_COMMIT_REF_SLUG:-latest}
    DOCKER_TAG: ${CI_COMMIT_REF_SLUG:-latest}
  before_script:
    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - echo "Building and pushing Docker image: ${DOCKER_IMAGE}"
  script:
    - |
      docker build \
        --tag ${DOCKER_IMAGE} \
        --tag ${DOCKER_IMAGE}:${CI_COMMIT_SHORT_SHA} \
        --file ${DOCKERFILE:-Dockerfile} \
        ${BUILD_ARGS:+.}
    - docker push ${DOCKER_IMAGE}
    - docker push ${DOCKER_IMAGE}:${CI_COMMIT_SHORT_SHA}
    - |
      if [ "$CI_COMMIT_TAG" ]; then
        docker tag ${DOCKER_IMAGE} ${CI_REGISTRY_IMAGE:-${CI_PROJECT_PATH}}:latest
        docker push ${CI_REGISTRY_IMAGE:-${CI_PROJECT_PATH}}:latest
      fi
    - echo "Successfully built and pushed ${DOCKER_IMAGE}"
  after_script:
    - docker logout $CI_REGISTRY || true
    - docker system prune -f || true
  only:
    - main
    - develop
    - tags

