deploy_docker_compose:
  stage: deploy
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_IMAGE: ${CI_REGISTRY_IMAGE:-${CI_PROJECT_PATH}}:${CI_COMMIT_REF_SLUG:-latest}
  dependencies:
    - build_and_push_docker
  before_script:
    - apk add --no-cache docker-compose || true
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY || true
  script:
    - docker-compose pull || docker compose pull || true
    - docker-compose up -d || docker compose up -d
    - docker-compose ps || docker compose ps
    - echo "Deployed ${DOCKER_IMAGE} using docker-compose"
  environment:
    name: ${CI_ENVIRONMENT_NAME:-production}
    url: ${CI_ENVIRONMENT_URL:-http://${CI_PROJECT_NAME}.example.com}
  only:
    - main
  when: manual


