push_docker:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_IMAGE: ${CI_REGISTRY_IMAGE:-${CI_PROJECT_PATH}}:${CI_COMMIT_REF_SLUG:-latest}
  dependencies:
    - build_docker
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker push ${DOCKER_IMAGE}
    - |
      if [ "$CI_COMMIT_TAG" ]; then
        docker tag ${DOCKER_IMAGE} ${CI_REGISTRY_IMAGE:-${CI_PROJECT_PATH}}:latest
        docker push ${CI_REGISTRY_IMAGE:-${CI_PROJECT_PATH}}:latest
      fi
    - echo "Pushed ${DOCKER_IMAGE} to ${CI_REGISTRY}"
  after_script:
    - docker logout $CI_REGISTRY || true
  only:
    - main
    - develop
    - tags


